<?xml version="1.0"?>
<config>
    <tabs>
        <janrain translate="label">
            <label>Janrain</label>
            <sort_order>250</sort_order>
        </janrain>
    </tabs>
    <sections>
        <engage translate="label" module="engage">
            <label>Engage</label>
            <tab>janrain</tab>
            <frontend_type>text</frontend_type>
            <sort_order>100</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <options translate="label">
                    <label>Options</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enable translate="label">
                            <label>Enable</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>51</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable>
                        <apikey translate="label">
                            <label>Engage API key</label>
                            <frontend_type>text</frontend_type>
                            <comment>Please enter your Engage API key</comment>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </apikey>
                    </fields>
                </options>
                <info translate="label">
                    <label>About</label>
                    <frontend_type>text</frontend_type>
                    <frontend_model>engage/info</frontend_model>
                    <sort_order>50</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                </info>

				<!-- Frame global uneditable config variables -->
				<vars translate="label">
					<label>Global Variables</label>
					<frontend_type>text</frontend_type>
					<sort_order>50</sort_order>
					<show_in_default>0</show_in_default>
					<show_in_website>0</show_in_website>
					<show_in_store>0</show_in_store>
					<fields>
						<session_namespace translate="label">
                            <label>Session Namespace</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>61</sort_order>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </session_namespace>
					</fields>
				</vars>
            </groups>
        </engage>
    </sections>
</config>