<?xml version="1.0"?>

<config>
    <modules>
        <Janrain_Engage>
            <version>1.0.0</version>
        </Janrain_Engage>
    </modules>
    <frontend>
        <layout>
            <updates>
                <engage>
                    <file>janrain_engage.xml</file>
                </engage>
            </updates>
        </layout>
        <translate>
            <modules>
                <Janrain_Engage>
                    <files>
                        <default>Janrain_Engage.csv</default>
                    </files>
                </Janrain_Engage>
            </modules>
        </translate>
    </frontend>

    <global>
        <blocks>
            <engage>
                <class>Janrain_Engage_Block</class>
            </engage>
        </blocks>
        <models>
            <engage>
                <class>Janrain_Engage_Model</class>
            </engage>
        </models>
        <helpers>
            <engage>
                <class>Janrain_Engage_Helper</class>
            </engage>
        </helpers>
        <resources>
            <engage_setup>
                <setup>
                    <module>Janrain_Engage</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </engage_setup>
            <engage_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </engage_write>
            <engage_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </engage_read>
        </resources>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Janrain_Engage>
                    <files>
                        <default>Janrain_Engage.csv</default>
                    </files>
                </Janrain_Engage>
            </modules>
        </translate>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <engage translate="title" module="engage">
                                            <title>engage</title>
                                        </engage>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <menu>
            <janrain translate="title" module="engage">
                <title>Janrain</title>
                <sort_order>65</sort_order>
                <children>
                    <engage translate="title" module="engage">
                        <title>Engage</title>
                        <sort_order>65</sort_order>
                        <children>
                            <slide translate="title" module="engage">
                                <title>Settings</title>
                                <action>adminhtml/system_config/edit/section/engage</action>
                                <sort_order>40</sort_order>
                            </slide>
                        </children>
                    </engage>
                </children>
            </janrain>
        </menu>
    </adminhtml>
    <default>
        <engage>
            <options>
                <apikey></apikey>
                <enable>1</enable>
            </options>
        </engage>
    </default>

</config>